// colors

$bg-color: #151515;
$primary-color: #004dfd;
$color-white: #ffffff;
$color-grey-light: #d8d8d8;

//grid

$gap-horizontal: 4rem;
$gap-vertical: 3rem;

// resolutions

$mid-desktop: 1440px;
$big-tablet: 1024px;
$small-tablet: 768px;
$mobile: 450px;