.contact-content {
  width: 100vw;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  &__map {
    width: 47.8%;
    background-color: $primary-color;
    margin-right: 10rem;
  }
}