.logo {
  position: fixed;
  display: inline-block;
  top: 4rem;
  left: 9.5rem;
  z-index: 999;
  &__link {
    font-family: "Playfair Display", sans-serif;
    font-size: 3rem;
    width: 13.5rem;
    height: 8rem;
    display: inline-block;
  }
  &__icon {
    position: absolute;
    width: 6rem;
    height: 6rem;
    z-index: 0;
  }
  &__company-name {
  position: absolute; 
  z-index: 1;
  bottom: 0;
  left: 1rem;
 }
}